/*==================== fonts ======================= */

/* poppins  font family -----------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =============== General Styling =============  */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #45595a;
  /* background-color: #f3f4f6; */
  background-color: #ffffff;
  scroll-behavior: smooth;
}

*,
*:focus {
  outline: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none !important;
  color: #54534E;
}

p {
  margin-bottom: 0;
}

p+p {
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/*****************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

.title {
  position: relative;
  background: linear-gradient(90deg, #114bdc, #3f55dc, #001948);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-weight: 700;
  margin-bottom: 50px;
}

.title:after {
  content: "";
  display: inline-block;
  background-color: #154DDC;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: linear-gradient(90deg, #114bdc, #3f55dc, #083994);

}

.title.left:after {
  transform: none;
  left: 0;
}

/******* Helpers ********************************************************************/



/* text colors=== */
.text-primary {
  color: #114bdc !important;
}


.text-dark {
  color: #1F1E0B !important;
}

.text-black {
  color: #000000 !important;
}

/* backgrounds ==== */

.bg-light {
  background-color: #f3f4f6 !important;

}

.bg-primary {
  background-color: #4859f7 !important;

}

.bg-light-blue {
  background: linear-gradient(to bottom, #eaf6ff, #c2e4ff);
}

/*************Font Weight****************/

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;

}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-semi {
  font-weight: 600 !important;
}

.font-weight-extra {
  font-weight: 800 !important;
}

.font-weight-black {
  font-weight: 900 !important;
}


.font-small {
  font-size: 12px;
}

/***************************/

.btn {
  position: relative;
  display: inline-block;
  moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none !important;
  border: 1px solid transparent;
  padding: 10px 50px;
  font-size: 400;
  border-radius: 5px;
  text-transform: capitalize;
}



.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #ffffff;
  border-color: #4859f7;
  background: linear-gradient(180deg, #154DDC 0%, #2764ff 100%);
}

.btn-primary:hover {
  background: linear-gradient(180deg, #205aed 100%, #2764ff 0%);
}

.btn-secondary {
  color: #ffffff;
  border-color: #000000;
  background: linear-gradient(180deg, #4e4d4d 0%, #090d1a 100%);
}

.btn-secondary:hover {
  color: #ffffff;
  border-color: #000000;
  background: linear-gradient(180deg, #090d1a 0%, #4e4d4d 100%);
}


.container {
  max-width: 1200px;
  padding: 0 15px;
}



/*****************************/

/* letter spacings  */

.letter-spacing-1 {
  letter-spacing: 1px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}




.form-label {
  color: #1F1E0B;
}

.form-control,
input.form-control,
.form-select,
.form-select:focus,
input.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 50px;
  border: 1px solid #5384ff;
  background: linear-gradient(to bottom, #eaf6ff, #c2e4ff);
  border-radius: 0px;
  font-size: 1em;
}



textarea.form-control {
  /* font-size: 14px; */
  resize: none;
}



textarea.form-control:not([rows]) {
  height: 140px;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

/* placeholder color ======== */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
  /* Edge */
  color: #1F1E0B;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1F1E0B;
}

.form-control::placeholder,
::placeholder {
  color: #1F1E0B;
}

.form-control::-moz-placeholder {
  color: #1F1E0B;
  opacity: 1;
}


.form-check-input:checked {
  background-color: #114bdc;
  border-color: #114bdc;
}


.custom-icon-radio {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-icon-radio .checked-content {
  background-color: #ffffff;
  text-align: center;
  min-width: 200px;
  max-width: 100%;
  padding: 10px;
  display: block;

  color: #000000;
  cursor: pointer;
}

.custom-icon-radio .checked-content span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
}

.custom-icon-radio img {
  max-width: 125px;
}

.custom-icon-radio input {
  position: absolute;
  left: -1000000px;
}

.custom-icon-radio input:checked+.checked-content {
  background: linear-gradient(to bottom, #2a66ff, #114bdc);
  color: #ffffff;
}

.border {
  border-color: #A3A3A3 !important;
}


/* =======================================
             media queries
======================================= */

@media (max-width: 767px) {


  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }

  h6,
  .h6 {
    font-size: 14px;
  }

  .title {
    text-align: center;
  }

  .title.left:after {
    left: 50%;
    transform: translateX(-50%);
  }

  .custom-icon-radio {
    width: 100%;
  }

  .checked-content {
    min-width: auto;
    max-width: 100%;
    width: 100%;
  }
}